body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  color: #333;
}

header {
  padding: 40px;
  background: #ff9500;
  color: white;
}

.hero {
  margin-top: 30px;
}

.hero img {
  width: 200px;
  margin-bottom: 20px;
}

video {
  border-radius: 10px;
  margin: 20px 0;
}

.info {
  padding: 40px;
  background: white;
  margin: 40px auto;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

iframe {
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  margin-top: 40px;
  padding: 20px;
  background: #222;
  color: white;
}
